{% extends 'index.html' %}
{% block bodyblock %}

   <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container">
          <div class="card border-secondary mb-3" >
            <h5 class="card-header"><b><u>Objective</u></b></h5>
            <div class="card-body">
              <p class="card-text">Lover of innovation and everything related to generate new knowledge, and not only that, but share it with the community. Face problems with a smile and solve them as soon as possible. Excellent interpersonal relationships. Believer that when problems arise the team should focus on finding a solution, instead of blame someone.</p>
            </div>
          </div>
              <div class="card border-secondary mb-3">
                <div class="card-header"><b><u>B.E Computer Science and Engineering</u></b></div>
                <div class="card-body">
                  <h5 class="card-title">Sri Sai Ram Institute of Technology (2014-2018)</h5>
                  <ul>
                  <li><p class="card-text">Completed B.E in Computer Science Engineering with first class</p></li>
                  <li><p class="card-text">Organizer in National Level Technical Symposium SINTACS’15&16.</p></li>
                  <li><p class="card-text">Member of m-apps and adventure club.</p></li>
                  <li><p class="card-text">Awarded 3rd prize for the project farmlog application where farmers will get agriculture tools at less rate in project expo conducted in our college</p></li>
                  </ul>
                </div>
              </div>
            
           
              <div class="card border-secondary mb-3">
                <div class="card-header"><b><u>Hobbies</u></b></div>
                <div class="card-body">
                <ul>
                  <li><p class="card-text">Cricket</p></li>
                  <li><p class="card-text">Solving rubiks cube</p></li>
                  <li><p class="card-text">Travel</p></li>
                  <li><p class="card-text">Music</p></li>
                  <li><p class="card-text">Dance</p></li>
                </ul>
                </div>
              </div>
        </div>
          
      </div>
		</div>

{%endblock bodyblock %} 