<!doctype html>
<html lang="en">
  <head>
  	<title>Sathish Madhan's Resume</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body >
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="img bg-wrap text-center py-1" style="background-image: url('static/images/7.jpg')">
	  			<div class="user-logo">
            <br>
            <br>
           
	  				<div class="img"   style="background-image: url('static/images/s3.jpg')"></div>
            
	  				<p><span   style="color: white;"><b>Sathish Madhan</b>
              <br>Python Developer</span></p>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="{{url_for('index')}}">About</a>
          </li>

          <li>
            <a href="{{url_for('experience')}}">Experience</a>
          </li>
          <li>
            <a href="{{url_for('certificates')}}">Certifications</a>
          </li>
          <li>
            <a href="{{url_for('personalprojects')}}">Personal Projects</a>
          </li>
          <li>
            <a href="{{url_for('skills')}}">Skills</a>
          </li>
          
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="container">
          <div class="card border-secondary mb-3" >
            <h5 class="card-header"><b><u>Objective</u></b></h5>
            <div class="card-body">
              <p class="card-text">Lover of innovation and everything related to generate new knowledge, and not only that, but share it with the community. Face problems with a smile and solve them as soon as possible. Excellent interpersonal relationships. Believer that when problems arise the team should focus on finding a solution, instead of blame someone.</p>
            </div>
          </div>
              <div class="card border-secondary mb-3">
                <h5 div class="card-header"><b><u>B.E Computer Science and Engineering</u></b></h5>
                <div class="card-body">
                  <h5 class="card-title">Sri Sai Ram Institute of Technology (2014-2018)</h5>
                  <ul>
                  <li><p class="card-text">Completed B.E in Computer Science Engineering with first class</p></li>
                  <li><p class="card-text">Organizer in National Level Technical Symposium SINTACS’15&16.</p></li>
                  <li><p class="card-text">Member of m-apps and adventure club.</p></li>
                  <li><p class="card-text">Awarded 3rd prize for the project farmlog application where farmers will get agriculture tools at less rate in project expo conducted in our college</p></li>
                  </ul>
                </div>
              </div>
            
          <div class="container" >
            <div class="row" style="column-gap: 41px;">
                     
              <div class="card border-dark mb-3" style="width: 21rem;">
                <h5 div class="card-header"><b><u>Contact</u></b></h5>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text">
                    <i class="fa fa-phone" aria-hidden="true" style="color: black;"></i> 
               <a style="color: black;"> : +91 8610157443</a>
                  </p>
                    <p class="card-text">
                      <i class="fa fa-map-marker" aria-hidden="true" style="color: black;"></i> 
               <a style="color: black;"> : Chennai,India</a>
                    </p>
                    <p class="card-text">
                      <i class="fa fa-envelope" aria-hidden="true" style="color: black;"></i> 
               <a style="color: black;"> : sathishmadhanv@gmail.com</a>
                    </p>
                </div>
              </div>




<div class="card border-dark mb-3" style="width: 21rem;">
                <h5 div class="card-header"><b><u>Social Media</u></b></h5>
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text"><span class="iconify" data-icon="fa-brands:hackerrank" style="color: black;"></span>
                    <a style="color: black;"> : </a><a href="https://www.hackerrank.com/sathishmadhanv" style="color: black;">Sathish Madhan_hackerrank</a></p>
                    <p class="card-text">
                      <i class="fa fa-linkedin" aria-hidden="true" style="color: black;"> : </i> 
                      <a href="https://www.linkedin.com/in/sathish-madhan-531141111/" style="color: black;">Sathish Madhan_linkedin</a>
                    </p>
                      <p class="card-text">
                        <i class="fa fa-github" aria-hidden="true" style="color: black;"> : </i> 
                        <a href="https://github.com/sathishmadhanv" style="color: black;">Sathish Madhan_github</a>
                      </p>
                </div>
              </div>



<div class="card border-dark mb-3" style="width: 21rem;">
                  <h5 div class="card-header"><b><u>Hobbies</u></b></h5>
                  <div class="card-body">
                    <ul style="column-count: 2;" >
                    <li><p class="card-text" style="color: black;">Cricket</p></li>
                    <br>
                      <li><p class="card-text" style="color: black;">sudoku</p></li>
                      <br>
                        <li><p class="card-text" style="color: black;">Travel</p></li>
                        <br>
                          <li> <p class="card-text" style="color: black;">Music</p></li>
                          <br>
                            <li><p class="card-text" style="color: black;">Dance</p></li>
                            <br>
                              <li><p class="card-text" style="color: black;">Rubiks cube</p></li>
                    </ul>
                  </div>
                </div>






            </div>
          </div>
          
      </div>
		</div>

    <script src="{{url_for('static',filename='css/style.css')}}"></script>
    <script src="{{url_for('static',filename='js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>

    <style>
      body {
        background-image: "{{url_for('static',filename='images/farm.png')}}" ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
      </style>
      <style>
        p{
          color:black;
        }
        
        </style>
  </body>
</html>