<!doctype html>
<html lang="en">
  <head>
  	<title>Sathish Madhan's Resume</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  </head>
  <body >
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
        <div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
				<div class="img bg-wrap text-center py-1" style="background-image: url('static/images/7.jpg')">
	  			<div class="user-logo">
            <br>
            <br>
	  				<div class="img" style="background-image: url('static/images/s3.jpg')"></div>
            
	  				<p><span   style="color: aliceblue;"><b>Sathish Madhan</b>
              <br>Python Developer</span></p>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="{{url_for('index')}}">About</a>
          

          
            <a href="{{url_for('experience')}}">Experience</a>
          
          
            <a href="{{url_for('certificates')}}">Certifications</a>
          
          
            <a href="{{url_for('personalprojects')}}">Personal Projects</a>
          
          
            <a href="{{url_for('skills')}}">Skills</a>
            <a href="{{url_for('trainings')}}">Trainings</a>
            <a href="static/resume/Sathish_Madhan_Resume.pdf" download>Download Resume</a>
          
          
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
      <div class="container">
    <div class="row">
        <div class="col-sm-6" >
            <img src="{{url_for('static',filename='images/tcslogo.jfif')}}" class="card-img-top" width="75" height="200">
          <div class="card" >
            <div class="card-body" style="background-color: whitesmoke;" >
              <h5 class="card-title">TCS ILP</h5>
              <ul >
              <p class="card-text">Trained on java,sql,agile methodology,Testing models</p>
              <p class="card-text">Cleared 8 assesments and 1 hands on project using agile methodology</p>
              <p class="card-text"><b>Languages Learned</b> :Python,Java,sql</p>
              <p class="card-text"><b>Concepts Learned</b> :Testing models,Agile Methodology,Automation testing,Python Modules</p>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6" >
            <img src="{{url_for('static',filename='images/dellemc.png')}}" class="card-img-top" width="75" height="200">
          <div class="card" >
            <div class="card-body" style="background-color: whitesmoke;">
              <h5 class="card-title">DELL EMC</h5>
              <ul >
              <p class="card-text">Trained on data visualization using R Language,Data Science,big data.</p>
              <p class="card-text">Cleared 5 assesments and 1 hands on project and scored 90 percent in final assesment</p>
              <p class="card-text"><b>Languages Learned</b> :R,Python</p>
              <p class="card-text"><b>Concepts Learned</b> :Data visualization,Data Cleaning,Data Preprocessing,Analytics Methods</p>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
       
		</div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
<style>
p{
  color:black;
}

</style>

<style>
  body {
    background-image: "{{url_for('static',filename='images/farm.png')}}" ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  </style>
  </body>
</html>